.body {
    background-color:#FFF12FF;
    width:100%;
    height:100%;
	overflow:hidden;
}
.left {
	background:yellow;
	width: 25%;
	position:fixed;
	height:100%;
	left:0%;
	right:75%;
	top:0%;
	z-index:1;
	overflow-x:hidden;
	overflow-y:auto;
}

.leftAlone {
	background:#8888b2;
	width: 85%;
	position:fixed;
	height:100%;
	left:0;
	top:0%;
	z-index:2;
	overflow-x:hidden;
	overflow-y:auto;
	border-right: solid black;
}

.middle {
	text-align: center;
	width: 60%;
	height:100%;
	background:green;
	position: fixed;
	left: 25%;
	top:0%;
	z-index:2;
	border-left: solid;
	border-right: solid;
	overflow:hidden;
}

.middle img {
	padding: 10%;
	min-width:40%;
	max-width:40%;
	transition: all .2s ease-in-out;
}

.right {
	width: 15%;
	background:red;
	height:100%;
	position:fixed;
	top:0;
	right: 0%;
	left: 85%;
	z-index:1;
	overflow:hidden;
	text-align:center;
}

.right img {
	padding: 12.5% 10% 12% 10%;
	min-width:80%;
	max-width:80%;
	min-height:auto;
	max-height:auto;
	background-color:blue;
	border-bottom:solid;
}

.scoreContainer {
	background-color: rgb(230, 230, 230, 0.8);
	width: 100%;
	max-height:16%;
	min-height:16%;
	text-align: center;
	font-size: 3.3vw;
	font-weight: bold;
	border-bottom:solid;
	overflow:hidden;
	
}

.scoreContainer img{
	float: right;
	min-width:6%;
	max-width:6%;
}

.scoreContainer span:after{
  content: "";
  background-image:url(foto/comp.png);
  background-size: 100% 100%;
  display: inline-block;
  background-repeat: no-repeat;
  height:4%;
  width:4%;
  position:relative;
  top:0px;
}


/*.clicker imgredr { transform: scale(1.15); }
.clicker img:active { transform: scale(0.9); }*/

.shop {
		padding: 5%;
		width: 96%;
		height: 15%;
		max-width: 100%;
		max-height: 100%;
		background-color: rgb(230, 230, 230, 0.8);
		transition: all .2s ease-in-out;
		border-radius: 10px;
		margin: 2%;	
}

.shop:hover {
		background-color: #c7c7c7;
		transition: all .2s ease-in-out;
}

.shop #image {
	width: 40%;
}

.shop img {
	padding-left: 10px;
	width: 70%;
}

.shop #nameAndCost p {
	margin: 0px;
	width: 100%;
	font-size: 32px;
}

.shop #nameAndCost p:first-of-type {
	font-size: 48px;
	
}

.shop #amount {
	font-size: 56px;
	font-family: roboto;
	width: 10%;
}


#upgradeNames {
	background-color: #bcbcbc;
	font-size: 3vw;
	text-align: center;
	font-family: roboto;
	border-bottom: solid;
	border-top: solid;
	width: 100%;	
	height: 7%;
	overflow:hidden;
}
#meniu {
	background-color: #bcbcbc;
	font-size: 3vw;
	text-align: center;
	font-family: roboto;
	border-bottom: solid;
	width: 100%;	
	height: 7%;
	overflow:hidden;
}
p {
	margin: 0;
}
.loginas {
	    align: center;
	    font-size: 3vw;
	    color:white;
	    text-align: center;
		padding: 1%;
		max-width: 50%;
		max-height: 50%;
		background-color: rgb(16 24 34 / 80%);
		transition: all .2s ease-in-out;
		border:solid;
		margin-top: 10%;	
		margin-left: auto;
		margin-right: auto;
}

.loginas h3{
	font-size: 4vw;
	margin:0;
	text-decoration: underline;
}

a {
	font-size:2vw;
	color: white;
	text-decoration: none;
}
ul,li{
	text-align:left;
	font-size:2vw;
	color: white;
	margin-left: 12%;
    padding-left: 0;
}
input{
	font-size: 1.6vw;
}
button{
	color:white;
	padding: 5px;
	margin-top: 3%;
	font-size: 2vw;
	background-color: #000000;
	border-radius: 30%;
}