.left {
	float: left;
	width: 15%
}

.middle {
	float: middle;
	width: 85%;
}

.right {
	float: right;
	width: 85%
}

.score {
	background-color: rgb(230, 230, 230, 0.8);
	width: 75%;
	padding: 15px;
	border-radius: 15px;
	font-size: 20px;
	font-weight: bold;
}

.clicker img {
	padding-top: 250px;
	position: relative;
	transition: all .2s ease-in-out;
}

.clicker img:hover { transform: scale(1.15); }
.clicker img:active { transform: scale(0.9); }
